@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Red Hat Display', sans-serif;
}

body {
    min-height: 100vh;
    background: hsl(225, 100%, 94%) url(images/pattern-background-desktop.svg);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-card {
    border-radius: 16px;
    margin-block: 16px;
    background-color: white;
    width: 90%;
    max-width: 350px;
    overflow: hidden;
    box-shadow: 0 1em 1em rgba(67, 67, 67, 0.047);
}

.card-img img {
    width: 100%;
}

.card-main {
    text-align: center;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-main > h1 {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
} 
.card-main > p {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);

}

.box {
    padding: 1.2em;
    margin: 1em 2em;
    align-items: center;
    display: flex;
    background-color:hsl(225, 100%, 98%);
    border-radius: 12px;
    gap: 1em;
}

.box h2 {
    font-weight: 900;
    font-size: 16px;
}

.box p {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}

.box .details {
    font-size: 1em;
    text-align: left;
    flex-grow: 1;
}
.change a {
    text-decoration: underline;
    font-size: 14px;
    font-weight: 700;
}

.change a:active {
    text-decoration: none;
    color: hsla(245, 75%, 52%, .8)
}

.btn {
    text-decoration: none;
    font-weight: 700;
    padding: 1em;
    transition: .3s;
    border-radius: .5em;
    margin: 0em 2em;
}

.btn.pay {
    background-color: hsl(245, 75%, 52%);
    color: white;
    box-shadow: 0 1em 1em rgba(67, 67, 67, 0.162);
}

.btn.pay:active {
    background-color: hsla(245, 75%, 52%, .7);
}

.btn.ccl {
    color: hsl(224, 23%, 55%)
}

.btn.ccl:active {
    color: hsl(223, 47%, 23%);
}

@media (max-width: 375px) {
    body {
      background: hsl(225, 100%, 94%) url('images/pattern-background-mobile.svg');
    }
  }